
#Created by Constraints Editor (xc6slx9-csg324-3) - 2012/08/04
NET "CLK" TNM_NET = "CLK";
TIMESPEC TS_CLK = PERIOD "CLK" 20 ns HIGH 50 %;
NET "TXD" OFFSET = OUT 20 ns AFTER "CLK" REFERENCE_PIN "TXD";
TEMPERATURE  = 85 C;
VOLTAGE  = 1.14 V;
NET "RESET" OFFSET = IN 20 ns VALID 20 ns BEFORE "CLK" RISING;




NET "CLK" LOC = C10;


NET "RESET" LOC = V4;


NET "FLAG" LOC = P4;


NET "FOUND" LOC = L6;
NET "TXD" LOC = T7;
